# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml


.idea/workspace.xml
rollcallsystem-window/src/test/

/.idea/

/rollcallsystem-frontend/package-lock.json
/rollcallsystem-frontend/node_modules/
/rollcallsystem-backend/src/test/
/logs/
