<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.mapper.RecordMapper">
    <resultMap id="BaseResultMap" type="com.chm.domain.Record">
        <id column="RecID" property="recid" jdbcType="INTEGER"/>
        <result column="SchID" property="schid" jdbcType="INTEGER"/>
        <result column="StuID" property="stuid" jdbcType="VARCHAR"/>
        <result column="Status" property="status" jdbcType="CHAR"/>
        <result column="WeekOfSemester" property="weekofsemester" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        RecID, SchID, StuID, Status, WeekOfSemester
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_record
        where RecID = #{recid,jdbcType=INTEGER}
    </select>
    <select id="selectByStuId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_record
        <if test="stuid != null">
            where StuID = #{stuid,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectStatusByStuidAndSchidAndWeekofsemester" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_record
        where StuID = #{stuid,jdbcType=VARCHAR}
        and SchID = #{schid,jdbcType=INTEGER}
        and WeekOfSemester = #{weekofsemester,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tbl_record
        where RecID = #{recid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chm.domain.Record">
        insert into tbl_record ( SchID, StuID,
        Status,WeekOfSemester)
        values ( #{schid,jdbcType=INTEGER}, #{stuid,jdbcType=VARCHAR},
        #{status,jdbcType=CHAR}, #{weekofsemester,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.chm.domain.Record">
        insert into tbl_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schid != null">
                SchID,
            </if>
            <if test="stuid != null">
                StuID,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="weekofsemester != null">
                WeekOfSemester,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schid != null">
                #{schid,jdbcType=INTEGER},
            </if>
            <if test="stuid != null">
                #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="weekofsemester != null">
                #{weekofsemester,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chm.domain.Record">
        update tbl_record
        <set>
            <if test="schid != null">
                SchID = #{schid,jdbcType=INTEGER},
            </if>
            <if test="stuid != null">
                StuID = #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                Status = #{status,jdbcType=CHAR},
            </if>
            <if test="weekofsemester != null">
                #{weekofsemester,jdbcType=CHAR},
            </if>
            <if test="weekofsemester != null">
                WeekOfSemester = #{weekofsemester,jdbcType=CHAR},
            </if>
        </set>
        where RecID = #{recid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chm.domain.Record">
        update tbl_record
        set SchID = #{schid,jdbcType=INTEGER},
        StuID = #{stuid,jdbcType=VARCHAR},
        Status = #{status,jdbcType=CHAR},
        WeekOfSemester = #{weekofsemester,jdbcType=CHAR}
        where RecID = #{recid,jdbcType=INTEGER}
    </update>
</mapper>