<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>点名签到系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../global/global.js"></script>
    <script type="text/javascript" src="../api/user.js"></script>
    <script src="../layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../api/student.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-container" id="student">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="../imgs/student.jpg" class="layui-nav-img">
                        {{name}}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a v-on:click="logout()">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-body layui-bg-gray">
            <form class="layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">选课列表</label>
                    <div class="layui-input-block">
                        <select v-model="teachid">
                            <option>--请选择--</option>
                            <option v-for="selectCourse in selectCourseList" :value="selectCourse.teachid"
                                    v-text="selectCourse.couname"/>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始周数</label>
                    <div class="layui-input-block">
                        <input type="text" name="startWeek" autocomplete="off" class="layui-input"
                               lay-verify="startWeek" placeholder="开始周数">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束周数</label>
                    <div class="layui-input-block">
                        <input type="text" name="endWeek" autocomplete="off" class="layui-input" lay-verify="endWeek"
                               placeholder="结束周数">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="find" >查询</button>
                    </div>
                </div>
            </form>
            <span>asjidaasddssjsdasddioajsi</span>
        </div>
        <div class="layui-footer layui-bg-black">
            © 2018 CHM Email:654849388@qq.com
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.layui-body').height($(window).width() - $('.layui-header').height() - $('.layui-footer').height())
        $('.layui-footer').width($('.layui-body').width() - 30)
        $('.layui-footer').css('left', $('.layui-header').offset().left)
    })
    var layer, element, form
    layui.use(['layer', 'element', 'form'], function () {
        layer = layui.layer
            , element = layui.element
            , form = layui.form;
        form.verify({
            startWeek: [
                /^\s*$|[\d]/
                , '只能输入数字'
            ], endWeek: [
                /^\s*$|[\d]/
                , '只能输入数字'
            ]
        });

    });

    var student = new Vue({
        el: '#student',
        data: {
            name: $.cookie('name'),
            selectCourseList: [],
            teachid: '',
            startWeek: '',
            endWeek: '',
            page: '',
            size: ''
        },
        methods: {
            logout: function () {
                layer.confirm('确认要退出登录？', {icon: 3, title: '退出登录'}, function () {
                    logout();
                });

            },
        },
        created: function () {
            this.selectCourseList = getSelectCourse()
            console.log(this.selectCourseList)
        }
    });

</script>
</body>
</html>