<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.mapper.RecordMapper">
    <resultMap id="BaseResultMap" type="com.chm.domain.Record">
        <id column="RecID" property="recid" jdbcType="INTEGER"/>
        <result column="SchID" property="schid" jdbcType="INTEGER"/>
        <result column="StuID" property="stuid" jdbcType="VARCHAR"/>
        <result column="Status" property="status" jdbcType="CHAR"/>
        <result column="WeekOfSemester" property="weekofsemester" jdbcType="CHAR"/>
        <result column="SignedTime" property="signedtime" jdbcType="TIME"/>
        <result column="Semester" property="semester" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        RecID, SchID, StuID, Status, WeekOfSemester, SignedTime, Semester
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_record
        where RecID = #{recid,jdbcType=INTEGER}
    </select>
    <select id="findSignedRecords" resultType="map">
        SELECT
        CouName,
        record.WeekOfSemester AS WeekOfSemester,
        DayOfWeek,
        StartTime,
        EndTime,
        SignedTime,
        Status
        FROM tbl_course course LEFT JOIN tbl_teach teach ON course.CouID = teach.CouID
        LEFT JOIN tbl_schedule schedule ON teach.TeachID = schedule.TeachID
        LEFT JOIN tbl_record record ON record.SchID = schedule.SchID
        <where>
            <if test="teachid != null">
                teach.TeachID = #{teachid}
            </if>
            <if test="stuid != null">
                AND record.StuID = #{stuid}
            </if>
            <if test="startWeek != null">
                AND record.WeekOfSemester > #{startWeek} - 1
            </if>
            <if test="endWeek != null">
                AND #{endWeek} + 1 > record.WeekOfSemester
            </if>
            <if test="semester != null">
                AND record.semester = #{semester}
            </if>
        </where>
        ORDER BY record.RecID DESC
    </select>
    <select id="countSignedRecord" resultType="map">
        SELECT
        count(CASE Status
        WHEN '正常'
        THEN '正常' END) AS normal,
        count(CASE Status
        WHEN '缺课'
        THEN '缺课' END) AS absence,
        count(CASE Status
        WHEN '迟到'
        THEN '迟到' END) AS late,
        count(CASE Status
        WHEN '请假'
        THEN '请假' END) AS 'leave',
        count(*) AS count
        FROM tbl_record t_r
        LEFT JOIN tbl_schedule t_s ON t_r.SchID = t_s.SchID
        LEFT JOIN tbl_teach t_t ON t_s.TeachID = t_t.TeachID
        WHERE StuID = #{stuid}
        AND Semester = #{semester}
        <if test="teachid != null">
            AND t_t.TeachID = #{teachid}
            GROUP BY t_t.TeachID
        </if>
    </select>
    <select id="selectStatusByStuidAndSchidAndWeekofsemester" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_record
        where StuID = #{stuid,jdbcType=VARCHAR}
        and SchID = #{schid,jdbcType=INTEGER}
        and WeekOfSemester = #{weekofsemester,jdbcType=CHAR}
        and Semester = #{semester,jdbcType=CHAR}
    </select>
    <select id="counting" resultType="java.lang.String">
        select s1.StuID
        from (
          select StuID
          from tbl_select_course
          where TeachID in(
            select TeachID
            from tbl_schedule
            where SchID = #{schid,jdbcType=INTEGER}
          )
        ) s1
        where s1.StuID not in (
          select StuID
          from tbl_record
          where SchID = #{schid,jdbcType=INTEGER}
          and WeekOfSemester = #{weekofsemester,jdbcType=CHAR}
        )
    </select>
    <select id="getSignedRecords" resultType="map">
        SELECT
          t_r.StuID  AS stuid,
          StuName    AS stuname,
          SignedTime AS signedtime,
          Status     AS status
        FROM tbl_record t_r
          LEFT JOIN tbl_student t_s ON t_r.StuID = t_s.StuID
        WHERE SchID = #{schid}
              AND WeekOfSemester = #{week};
    </select>
    <select id="countSignedRecords" resultType="map">
        SELECT
          t_r.StuID              AS stuid,
          StuName                AS stuname,
          count(CASE Status
                WHEN '正常'
                  THEN '正常' END) AS normal,
          count(CASE Status
                WHEN '缺课'
                  THEN '缺课' END) AS absence,
          count(CASE Status
                WHEN '迟到'
                  THEN '迟到' END) AS late,
          count(CASE Status
                WHEN '请假'
                  THEN '请假' END) AS 'leave',
          count(*)               AS count
        FROM tbl_record t_r
          LEFT JOIN tbl_schedule t_s ON t_r.SchID = t_s.SchID
          LEFT JOIN tbl_teach t_t ON t_t.TeachID = t_s.TeachID
          LEFT JOIN tbl_student t_stu ON t_stu.StuID = t_r.StuID
        WHERE t_t.TeachID = #{teachid}
        GROUP BY t_r.StuID
    </select>
    <select id="getStudentSignedDetails" resultType="map">
        SELECT
          t_r.WeekOfSemester AS week,
          DayOfWeek      AS day,
          SignedTime     AS signedtime,
          Status         AS status
        FROM tbl_record t_r
          LEFT JOIN tbl_schedule t_s ON t_s.SchID = t_r.SchID
          LEFT JOIN tbl_teach t_t ON t_s.TeachID = t_t.TeachID
        WHERE t_t.TeachID = #{teachid}
              AND t_r.StuID = #{stuid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tbl_record
        where RecID = #{recid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chm.domain.Record">
        insert into tbl_record ( SchID, StuID,
        Status,WeekOfSemester,SignedTime,Semester)
        values ( #{schid,jdbcType=INTEGER}, #{stuid,jdbcType=VARCHAR},
        #{status,jdbcType=CHAR}, #{weekofsemester,jdbcType=CHAR},
        #{signedtime,jdbcType = TIME}, #{semester})
    </insert>
    <insert id="insertSelective" parameterType="com.chm.domain.Record">
        insert into tbl_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schid != null">
                SchID,
            </if>
            <if test="stuid != null">
                StuID,
            </if>
            <if test="status != null">
                Status,
            </if>
            <if test="weekofsemester != null">
                WeekOfSemester,
            </if>
            <if test="signedtime != null">
                SignedTime,
            </if>
            <if test="semester != null">
                Semester,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schid != null">
                #{schid,jdbcType=INTEGER},
            </if>
            <if test="stuid != null">
                #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="weekofsemester != null">
                #{weekofsemester,jdbcType=CHAR},
            </if>
            <if test="signedtime != null">
                #{signedtime,jdbcType=TIME},
            </if>
            <if test="semester != null">
                #{semester,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertNotSigned">
        insert into tbl_record ( SchID, StuID,
        Status, WeekOfSemester, SignedTime, Semester)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{schid,jdbcType=INTEGER}, #{item},
            '缺课', #{weekofsemester,jdbcType=CHAR}, sysdate(), #{semester,jdbcType=VARCHER})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chm.domain.Record">
        update tbl_record
        <set>
            <if test="schid != null">
                SchID = #{schid,jdbcType=INTEGER},
            </if>
            <if test="stuid != null">
                StuID = #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                Status = #{status,jdbcType=CHAR},
            </if>
            <if test="weekofsemester != null">
                WeekOfSemester = #{weekofsemester,jdbcType=CHAR},
            </if>
            <if test="signedtime != null">
                SignedTime = #{signedtime,jdbcType=TIME},
            </if>
            <if test="semester != null">
                Semester = #{semester,jdbcType=VARCHAR},
            </if>
        </set>
        where RecID = #{recid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chm.domain.Record">
        update tbl_record
        set SchID = #{schid,jdbcType=INTEGER},
        StuID = #{stuid,jdbcType=VARCHAR},
        Status = #{status,jdbcType=CHAR},
        WeekOfSemester = #{weekofsemester,jdbcType=CHAR},
        SignedTime = #{signedtime,jdbcType=TIME},
        Semester = #{semester,jdbcType=VARCHAR}
        where RecID = #{recid,jdbcType=INTEGER}
    </update>
    <update id="signedStatusChange">
        update tbl_record
        set Status = #{status,jdbcType=CHAR},
        where WeekOfSemester = #{week}
        AND StuID = #{stuid}
    </update>
</mapper>