<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.mapper.SelectCourseMapper">
    <resultMap id="BaseResultMap" type="com.chm.domain.SelectCourse">
        <id column="SelectID" property="selectid" jdbcType="INTEGER"/>
        <result column="StuID" property="stuid" jdbcType="VARCHAR"/>
        <result column="TeachID" property="teachid" jdbcType="INTEGER"/>
        <result column="Result" property="result" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Base_Column_List">
    SelectID, StuID, TeachID, Result
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_select_course
        where SelectID = #{selectid,jdbcType=INTEGER}
    </select>
    <select id="getSelectCourse" resultType="map">
        SELECT
          t_t.TeachID AS teachid,
          CouName AS couname
        FROM tbl_select_course t_s_c
          LEFT JOIN tbl_student t_s ON t_s_c.StuID = t_s.StuID
          LEFT JOIN tbl_teach t_t ON t_s_c.TeachID = t_t.TeachID
          LEFT JOIN tbl_course t_c ON t_t.CouID = t_c.CouID
        WHERE t_s.StuID = #{stuid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tbl_select_course
        where SelectID = #{selectid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chm.domain.SelectCourse">
        insert into tbl_select_course (StuID, TeachID,
        Result)
        values (#{stuid,jdbcType=VARCHAR}, #{teachid,jdbcType=INTEGER},
        #{result,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="com.chm.domain.SelectCourse">
        insert into tbl_select_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuid != null">
                StuID,
            </if>
            <if test="teachid != null">
                TeachID,
            </if>
            <if test="result != null">
                Result,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuid != null">
                #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="teachid != null">
                #{teachid,jdbcType=INTEGER},
            </if>
            <if test="result != null">
                #{result,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chm.domain.SelectCourse">
        update tbl_select_course
        <set>
            <if test="stuid != null">
                StuID = #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="teachid != null">
                TeachID = #{teachid,jdbcType=INTEGER},
            </if>
            <if test="result != null">
                Result = #{result,jdbcType=DOUBLE},
            </if>
        </set>
        where SelectID = #{selectid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chm.domain.SelectCourse">
    update tbl_select_course
    set StuID = #{stuid,jdbcType=VARCHAR},
      TeachID = #{teachid,jdbcType=INTEGER},
      Result = #{result,jdbcType=DOUBLE}
    where SelectID = #{selectid,jdbcType=INTEGER}
  </update>
</mapper>