<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.chm.domain.Student">
        <id column="StuID" property="stuid" jdbcType="VARCHAR"/>
        <result column="ClassID" property="classid" jdbcType="VARCHAR"/>
        <result column="StuName" property="stuname" jdbcType="VARCHAR"/>
        <result column="StuSex" property="stusex" jdbcType="CHAR"/>
        <result column="Birthday" property="birthday" jdbcType="DATE"/>
        <result column="Password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    StuID, ClassID, StuName, StuSex, Birthday, Password
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_student
        where StuID = #{stuid,jdbcType=VARCHAR}
    </select>
    <select id="getPasswordByStuid" resultType="java.lang.String">
        select Password
        from tbl_student
        where StuID = #{stuid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_student
    where StuID = #{stuid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.chm.domain.Student">
    insert into tbl_student (StuID, ClassID, StuName, 
      StuSex, Birthday, Password
      )
    values (#{stuid,jdbcType=VARCHAR}, #{classid,jdbcType=VARCHAR}, #{stuname,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=CHAR}, #{birthday,jdbcType=DATE}, #{password,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.chm.domain.Student">
        insert into tbl_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stuid != null">
                StuID,
            </if>
            <if test="classid != null">
                ClassID,
            </if>
            <if test="stuname != null">
                StuName,
            </if>
            <if test="stusex != null">
                StuSex,
            </if>
            <if test="birthday != null">
                Birthday,
            </if>
            <if test="password != null">
                Password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stuid != null">
                #{stuid,jdbcType=VARCHAR},
            </if>
            <if test="classid != null">
                #{classid,jdbcType=VARCHAR},
            </if>
            <if test="stuname != null">
                #{stuname,jdbcType=VARCHAR},
            </if>
            <if test="stusex != null">
                #{stusex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chm.domain.Student">
        update tbl_student
        <set>
            <if test="classid != null">
                ClassID = #{classid,jdbcType=VARCHAR},
            </if>
            <if test="stuname != null">
                StuName = #{stuname,jdbcType=VARCHAR},
            </if>
            <if test="stusex != null">
                StuSex = #{stusex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                Birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="password != null">
                Password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where StuID = #{stuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chm.domain.Student">
    update tbl_student
    set ClassID = #{classid,jdbcType=VARCHAR},
      StuName = #{stuname,jdbcType=VARCHAR},
      StuSex = #{stusex,jdbcType=CHAR},
      Birthday = #{birthday,jdbcType=DATE},
      Password = #{password,jdbcType=VARCHAR}
    where StuID = #{stuid,jdbcType=VARCHAR}
  </update>
</mapper>