<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.chm.domain.Teacher">
        <id column="TeaID" property="teaid" jdbcType="VARCHAR"/>
        <result column="TeaName" property="teaname" jdbcType="VARCHAR"/>
        <result column="TeaSex" property="teasex" jdbcType="CHAR"/>
        <result column="Birthday" property="birthday" jdbcType="DATE"/>
        <result column="Title" property="title" jdbcType="VARCHAR"/>
        <result column="Password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    TeaID, TeaName, TeaSex, Birthday, Title, Password
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_teacher
        where TeaID = #{teaid,jdbcType=VARCHAR}
    </select>
    <select id="getPasswordByTeaid" resultType="java.lang.String">
        select Password
        from tbl_teacher
        where TeaID = #{teaid}
    </select>
    <select id="getTeach" resultType="map">
        SELECT
          TeachID as teachid,
          CouName as couname
        FROM tbl_teach t_t
          LEFT JOIN tbl_course t_c ON t_t.CouID = t_c.CouID
        WHERE t_t.TeaID = #{teaid}
    </select>
    <select id="getRecords" resultType="map">
        SELECT
        DISTINCT
        CouName            AS couname,
        t_r.WeekOfSemester AS week,
        t_s.DayOfWeek      AS day,
        StartTime          AS starttime,
        EndTime            AS endtime
        FROM tbl_schedule t_s
        LEFT JOIN tbl_teach t_t ON t_s.TeachID = t_t.TeachID
        LEFT JOIN tbl_course t_c ON t_t.CouID = t_c.CouID
        LEFT JOIN tbl_record t_r ON t_r.SchID = t_s.SchID
        WHERE <![CDATA[ t_r.WeekOfSemester <> '' ]]>
        AND TeaID = #{teaid}
        <if test="teachid != null">
            AND t_t.TeachID = #{teachid}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_teacher
    where TeaID = #{teaid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.chm.domain.Teacher">
    insert into tbl_teacher (TeaID, TeaName, TeaSex,
      Birthday, Title, Password
      )
    values (#{teaid,jdbcType=VARCHAR}, #{teaname,jdbcType=VARCHAR}, #{teasex,jdbcType=CHAR},
      #{birthday,jdbcType=DATE}, #{title,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.chm.domain.Teacher">
        insert into tbl_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaid != null">
                TeaID,
            </if>
            <if test="teaname != null">
                TeaName,
            </if>
            <if test="teasex != null">
                TeaSex,
            </if>
            <if test="birthday != null">
                Birthday,
            </if>
            <if test="title != null">
                Title,
            </if>
            <if test="password != null">
                Password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaid != null">
                #{teaid,jdbcType=VARCHAR},
            </if>
            <if test="teaname != null">
                #{teaname,jdbcType=VARCHAR},
            </if>
            <if test="teasex != null">
                #{teasex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chm.domain.Teacher">
        update tbl_teacher
        <set>
            <if test="teaname != null">
                TeaName = #{teaname,jdbcType=VARCHAR},
            </if>
            <if test="teasex != null">
                TeaSex = #{teasex,jdbcType=CHAR},
            </if>
            <if test="birthday != null">
                Birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="title != null">
                Title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                Password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where TeaID = #{teaid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chm.domain.Teacher">
    update tbl_teacher
    set TeaName = #{teaname,jdbcType=VARCHAR},
      TeaSex = #{teasex,jdbcType=CHAR},
      Birthday = #{birthday,jdbcType=DATE},
      Title = #{title,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR}
    where TeaID = #{teaid,jdbcType=VARCHAR}
  </update>
</mapper>