<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.mapper.TeachMapper">
    <resultMap id="BaseResultMap" type="com.chm.domain.Teach">
        <id column="TeachID" property="teachid" jdbcType="INTEGER"/>
        <result column="TeaID" property="teaid" jdbcType="VARCHAR"/>
        <result column="CouID" property="couid" jdbcType="INTEGER"/>
        <result column="StartTime" property="starttime" jdbcType="TIME"/>
        <result column="EndTime" property="endtime" jdbcType="TIME"/>
    </resultMap>
    <sql id="Base_Column_List">
        TeachID, TeaID, CouID, StartTime, EndTime
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_teach
        where TeachID = #{teachid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tbl_teach
        where TeachID = #{teachid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chm.domain.Teach">
        insert into tbl_teach ( TeaID, CouID,
        StartTime, EndTime)
        values (#{teaid,jdbcType=VARCHAR}, #{couid,jdbcType=INTEGER},
        #{starttime,jdbcType=TIME}, #{endtime,jdbcType=TIME})
    </insert>
    <insert id="insertSelective" parameterType="com.chm.domain.Teach">
        insert into tbl_teach
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teaid != null">
                TeaID,
            </if>
            <if test="couid != null">
                CouID,
            </if>
            <if test="starttime != null">
                StartTime,
            </if>
            <if test="endtime != null">
                EndTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaid != null">
                #{teaid,jdbcType=VARCHAR},
            </if>
            <if test="couid != null">
                #{couid,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIME},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIME},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chm.domain.Teach">
        update tbl_teach
        <set>
            <if test="teaid != null">
                TeaID = #{teaid,jdbcType=VARCHAR},
            </if>
            <if test="couid != null">
                CouID = #{couid,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                StartTime = #{starttime,jdbcType=TIME},
            </if>
            <if test="endtime != null">
                EndTime = #{endtime,jdbcType=TIME},
            </if>
        </set>
        where TeachID = #{teachid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chm.domain.Teach">
        update tbl_teach
        set TeaID = #{teaid,jdbcType=VARCHAR},
        CouID = #{couid,jdbcType=INTEGER},
        StartTime = #{starttime,jdbcType=TIME},
        EndTime = #{endtime,jdbcType=TIME}
        where TeachID = #{teachid,jdbcType=INTEGER}
    </update>
</mapper>